
<h1>Créer un nouveau Gossip!</h1>

<p> Balance tous tes gossips concernant les membres de THP! </p>


<h1>Nouveau Gossip</h1>
<%= form_for @gossip, url: {action: "create"} do |gossip_form| %>
  <p><%= gossip_form.label :content %>:
  <%= gossip_form.text_field :content %></p>
  <p><%= gossip_form.submit "Créer" %></p>
<% end %>